#foot{
    background: #2B2727; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 10px; /* Поля вокруг текста */
    border-radius: 5px; /* Уголки */
    margin: 2px;
    height:60px;
    width: 99%;
    top:90%;
    position: absolute;
    text-align: center;
    display: table;
 }
 #foot > p{
    font-family: "times_new_roman";
    font-size: 12px;
    display: table-cell;
    vertical-align: bottom;
 }
img{
    vertical-align: bottom;
    float: right;
 }