#mainBlock{
    background: #2B2727; 
    color: #fff;
    padding: 10px;
    border-radius: 5px; 
    margin: 2px;
    width: 99%;
    min-height: 69%;
    max-height: 69%;
    position: absolute;
    top:20%;
    overflow-y: auto; 
}
#test{
    margin-left: 80px;
}
#centrtwo{
    /* position: absolute;
    left: 40%; */
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

  