#mainBlock{
    background: #2B2727; 
    color: #fff;
    padding: 10px;
    border-radius: 5px; 
    margin: 2px;
    width: 99%;
    min-height: 69%;
    max-height: 69%;
    position: absolute;
    top:20%;
    overflow-y: auto; 
}